<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>
                Solana claims to be the most performant public fault-tolerant
                database replication protocol. It uses Berkley Packet Filter as
                a virtualization environment along with VDF-based cluster commit
                log validity checking.
                </p>
            </div>
            <div class="col-lg-4">
                <p>
                Solana public cluster achieves about ~3k tx/sec in a day-to-day
                operation mode, up to ~50k tx/sec in 4-byte "transactions"
                benchmarking mode along with up to ~10k tx/sec in regular "transfers"
                performance benchmarking mode.
                </p>
            </div>
            <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                <i class="fa fa-download"></i> Download Theme
                </a>
                </div>-->
        </div>
    </div>
</section>
